<!DOCTYPE kpartgui SYSTEM 'kpartgui.dtd'>
<kpartgui version="1" name="KDevCvs">
 <Menu name="cvs_popup">
  <text context="@title:menu">CVS</text>
  <Action name="cvs_import"/>
  <Action name="cvs_checkout"/>
  <Action name="cvs_status"/>
 </Menu>
 <ActionProperties scheme="Macrobull"/>
</kpartgui>
