[Desktop Entry]
Comment=Clock with original second visualization
Encoding=UTF-8
Icon=
Keywords=
Name=PG
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Peter Fajdiga,Michał Dutkiewicz
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=,emdeck@gmail.com
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=custom-progress-1
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=,http://emdek.pl/
X-KDE-ServiceTypes=Plasma/AdjustableClock
X-Plasma-API=
X-Plasma-RemoteLocation=
